{% extends 'base.html' %}
{% block content %}
<h1 class="display-1 text-center mt-3 mb-3">Qruplar</h1>
    <table class="custom-table table table-dark table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Qrup</th>
                <th>Tədris ili</th>
                <th>İxtisas</th>
                {% for group in groups %}
                <th class="{% if group.degree.id != 2 %} hide {% endif %}">İxtisaslaşma</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.ed_year }}</td>
                <td>{{ group.specialty }}</td>
                <td class="{% if group.degree.id != 2 %} hide {% endif %}">{{ group.specialization }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}